#profileContainer
    #profileInBox
        .profileImg
            img(src=profileImg? profileImg : './images/profileDefaultIcon.svg')
        .profileInfo
            span#userID #{nickname}
                span#userModifyBtn
                    img(src='./images/modifyIcon.svg')
            span#userEmail #{email}
    #signOutBox 
        button#signOutButton 로그아웃
