
ul#posts {
    list-style: none;
    display: flex;
    flex-direction: column;
}

li.postItem {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: -webkit-fill-available;
    margin: 10px auto;
    padding: 25px 55px;
    box-shadow: 0 0 0 0.3px #ccc;
}

li.postItem:hover {
    background-color: #fbfbfb;
}

.postProfileImg > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    width: -webkit-fill-available;
}

.postFooter {
    display: flex;
    flex-direction: row;
}

span.postNickname {
    font-size: 10pt;
    letter-spacing: 0.5pt;
    font-weight: bold;
    flex: 1;
    margin: auto 0;
}

.post > div {
    padding: 0 0 5px 0;
    /* border-bottom: 1px solid; */
}

.postBody {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.postFooter > div {
    padding: 0 5px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}


.postFooter > div:nth-last-child(1){
    border:0;
}

.postFooter > div > span {
    font-size: 9pt;
    color: #777;
}

.postFooter > div img {
    height: 10px;
    opacity: 0.5;
    display: inline-block;
    margin: auto 5px auto 0;
}

.postDate {
    padding: 0 5px 0 0 !important;
}

.postCommentCount:hover,
.postFavoriteCount:hover
{
    cursor: pointer;
    text-decoration: underline;
    background-color: antiquewhite;
}

#writeDiv b, #writeDiv i {
    color: inherit;
    font-size: inherit;
}

.postContent {
    flex: 1;
    margin: 12px 0;
}

.postImgPreviews {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #999;
}

.postImgPreviewRow {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    height: 100%;
}

.postImgPreviewColumn {
    display: flex;
    flex: auto;
    height: 175px;
    overflow: hidden;
    margin: 1px;
}

.postImgPreviewColumn > div > img {
    width: 100%;
    height: 100%;
}

.postImgPreviewColumn > div {
    height: 100%;
    position: relative;
}

.postImgPreviewArea {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: black;
    opacity: 0;
}

.postImgPreviewColumn:hover .postImgPreviewArea {
    opacity: 0.5;
}

.postImgPreviewColumn:hover .imgsPlus {
    display: block;
}
.imgsPlus {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

img.plusBtn {
    width: 100%;
    height: 100%;
    background-color: #ffffffdd;
}


div.postContent div, div.postContent span, div.postContent p {
    text-align: initial;
    font-size: initial;
    color: inherit;
}

span.postMenu {
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    padding: 5px;
    margin: auto 10px auto auto;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.postMenu img {
    transform: rotate(90deg);
    width: inherit;
    height: inherit;
    position: absolute;
}

.postMenu img:nth-child(1){
    display: block;
}

.postMenu img:nth-child(2){
    display: none;
}

.postMenu:hover {
    background-color: skyblue;
}

.postMenu:hover img:nth-child(1){
    display: none;
}

.postMenu:hover img:nth-child(2){
    display: block;
}

.postHeader {
    display: flex;
    flex-direction: row;
}

div#menuPop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div#menuArea {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

ul#menuUl {
    background-color: #fff;
    width: 135px;
    height: max-content;
}

div#menuDiv {
    width: max-content;
    height: max-content;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #00000054;
    position: relative;
    z-index: 3;
}

li.menuItem {
    text-align: center;
    font-size: 11pt;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    list-style: none;
    cursor: pointer;
}

li.menuItem:hover {
    background-color: tomato;
    color : #fff;
}

li.menuItem:nth-last-child(1) {
    border: 0;
}